<form action="/user/register" method="POST" enctype="multipart/form-data">   
    <table class="register-table">
        <tbody class="register-body">
            <tr class="username-input">
                <td>User Name</td>
                <td><input name="username" type="text"
                            value="<%= user.username ? user.username : '' %>"></td>
            </tr>
            <tr class="email-input">
                <td>Email</td>
                <td><input name="email" type="text" value="<%= user.email ? user.email : '' %>"></td>
            </tr>  
            <tr class="firstname-input">
                <td>First Name</td>
                <td><input name="firstName" type="text"
                            value="<%= user.firstName ? user.firstName : '' %>"></td>
            </tr> 
            <tr class="lastname-input">
                <td>Last Name</td>
                <td><input name="lastName" type="text"
                            value="<%= user.lastName ? user.lastName : '' %>"></td>
            </tr>                        
            <tr class="password-input">
                <td>Password</td>
                <td><input name="password" type="password"></td>
            </tr>
            <tr class="passconfirm-input">
                <td>Password Confirmation</td>
                <td><input name="passwordConfirm" type="password"></td>
            </tr> 
            <tr class="interest-input">
                <td><label for="interests">Interests:</label></td>
                <td><input id="interests" name="interests" type="text" value="<%= user.interests ? user.interests : '' %>" ></td>
            </tr>
            <tr class="profilepic-input">
                <td><label for="picture">Profile Image</label></td>
                <td>
                    <input id="profilePicturePath" name="profilePicturePath" type="hidden" value="<%= user.picturePath %>">
                </td>
                <td>
                    <input type="file" name="picture" id="image" />
                </td>
            </tr>

            <tr class="role-input">
                <td>Role</td>
                <td>
                    <label for="role"></label>
                    <select name="role" id="roles">
                        <option value="student">Student</option>
                        <option value="manager">Manager</option>
                        <option value="admin">Admin</option>
                    </select> 
                </td>
            </tr> 
            <tr class="login-button">
                <td><input type="submit" value="Register"></td>
            </tr>
            <tr class="error-message">
                <td>
                    <p><%= errorMessage ? errorMessage : " " %></p>
                </td>
            </tr>
        </tbody>
    </table>
</form>
